.backtop_section {
    position: fixed;
    _position: absolute;
    bottom: 60px;
    right: 20px;
    width: 70px;
    height: 400px;
    vertical-align: bottom;
}

#cart_thumbnail,#orders, #back_top, #my_message, #feedback,#call_center {
	width:70px;
	height:65px;
	margin-top:-1px;
}

.backtopIcons{
	padding-top:40px;
	text-align: center;
	color:#c0c0c0;
	font-weight: bold;
	background-color: #f6f6f6;
	border: 1px solid #dcdcdc;
}

.backtopIcons:hover{
	color:white;
}
#cart_thumbnail {
	background:url(../image/cartBacktopOff.png) no-repeat;
	background-position: top,center;
}

#orders {
	background:url(../image/ordersOff.png) no-repeat;
	background-position:top,center;
}

#back_top {	
	background:url(../image/backtopOff.png) no-repeat;
	background-position:top,center;
}

#my_message {
	background:url(../image/messageOff.png) no-repeat;
	background-position:top,center;
	margin-top:50px;
}

#feedback {
	background:url(../image/feedbackOff.png) no-repeat;
	background-position:top,center;
}

#call_center {
	background:url(../image/callCenterOff.png) no-repeat;
	background-position:top,center;
}

#cart_thumbnail:hover, #orders:hover, #back_top:hover, #my_message:hover, #feedback:hover,#call_center:hover {
	background-color: rgba(246,80,83,1);
}

.cart_dropdown, .cart_dropdown li{
	float:left;
	position: fixed;
	bottom: 480px;
	right: 20px;
	background-color:#eee;
	width: 230px;
}

#message{
	float:left;
	position: fixed;
	top: 120px;
	right: 25px;
	background-color:#eee;
	width: 200px;
}

.unvisible {
	visibility:hidden;
}

.feedback-wrap {
    padding: 25px 20px 0;
    border-radius: 2px;
}

.feedback-wrap .form-group label {
    font-size: 16px;
}

.feedback-wrap .form-group .input-control input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    color: #494949;
}

.feedback-wrap .form-group .input-control {
    margin-top: 10px;
    font-size: 16px;
}

.feedback-wrap .form-group .input-control textarea {
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    color: #494949;
}

.feedback-wrap .form-group .error-msg {
    height: 16px;
    margin: 3px 10px;
    color: #ff2d4b;
}

.feedback-wrap .form-submit {
    width: 460px;
    margin-left: -20px;
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: center;
    background: #FAFAFA;
}

.feedback-wrap .form-submit {
    width: 460px;
    margin-left: -20px;
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: center;
    background: #FAFAFA;
}

.feedback-wrap .form-submit input[type=button] {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 0;
    border: 0;
    text-align: center;
    zoom: 1;
    -webkit-transition: background-color .2s ease-in 0s;
    -moz-transition: background-color .2s ease-in 0s;
    -o-transition: background-color .2s ease-in 0s;
    transition: background-color .2s ease-in 0s;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 1em;
    color: #fff;
    background-color: #ff2d4b;
    cursor: pointer;
    font-size: 16px;
}

.empty-cart {
	width: 230px;
	height: 40px;
	text-align: center;
	background-color: #ed4346;
	background-image: url(../image/cartBacktopOn.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
	background-size: 30px 30px;
	font-weight: bold;
	color: white;
	padding-top:10px;
}

.cart-head{
	height:50px;	
	padding-top: 16px;
	margin-left: 10px;
}

.cart-thumbnail-table{
	background-color: white;
	font-size:12px;
	font-color:black;
}
.cart-thumbnail-table tr{
	height:30px;
	border-bottom: 1px solid #ebebeb;
	width: 230px;
}

.table-head,.cart-head{	
	color: #999999;
	font-weight:bold;
}

.claer-all{
	background: url(../image/bin.png) no-repeat;
	background-size: 20px 20px;	
	background-repeat: no-repeat;
	background-position: center;
	text-align:right;
	padding-right:10px;
	
}
.food-name{
	width: 110px;
	height:30px;
	padding-left:5px;
}

.food-name-detail{
	width: 110px;
	margin-top:5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:pointer;
}

.food-number{
	width:70px;
	height:30px;
}
.add-food{
	width:15px;
	height:15px;
	margin-top:5px;
	background: url(../image/addIcon.png) no-repeat;
	background-size: 15px 15px;	
	background-repeat: no-repeat;
	background-position: bottom;
	float:left;
	cursor:pointer;
}
.remove-food{
	width:15px;
	height:15px;
	margin-top:5px;
	background-image: url(../image/minusIcon.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: bottom;
	float:left;
	cursor:pointer;
}

.purchase-number{
	margin-top:4px;
	margin-left:2px;
	font-size:13px;
	float:left;
	width:15px;
	text-align: center;
}

.food-price{
	width:60px;
	margin-top:4px;
	text-align: center;
}

.food-remove{
	width:20px;
	cursor:pointer;
	background-image: url(../image/deleteIcon.png);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: center;
}