.header{
    margin: 0px,0px,20px,0px;
    height: 90px;
    color: #27ABE2;
    background: #27ABE2;
}

.main_body{
    /*margin-left: 130px;*/
    margin-top: 10px;
    /*align-content: center;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 970px;
    color:#F3F3F5;
    background:#F3F3F5;
}

.bill_board{
    margin-left: 0px;
    margin-top: 0px;
    width: 970px;
    height: 85px;
    color:#F9ED13;
    background:#F9ED13;
}

.address_info{
    margin-left: 0px;
    margin-top: 20px;
    width: 900px;
    height: 20px;
    /*color: #88ABDA;*/
    /*background: #88ABDA;*/
}
.address_info_label{
    color:darkgray;
    font-size: 10px;
}
.address_info_address{
    font-size: 10px;
    color:#535353;
}
.address_info_chg{
    color:dodgerblue;
    font-size: 10px;
}
.section_header{
    margin-left: 0px;
    margin-top: 10px;
    width: 970px;
    height: 25px;
    margin-bottom: 5px;
    color: #88ABDA;
    /*background: #88ABDA;*/
    float:left;
    
}

.type_tab{
    font-size: 18px;
    float: left;
    width:120px;
    color:#535353;
    margin-left: 0px;
    padding-bottom: 10px;
    text-align: center;
    /*border-bottom:1px darkgray solid;*/
}

.selected_type_tab{
	border-bottom:3px #0089dc solid;
}


.food_tab{
    font-size: 20px;
    float: left;
    color:#535353;
    margin-left: 0px;
    text-decoration: underline;
}

.rest_tab{
    font-size: 20px;
    float: left;
    color:#535353;
    margin-left: 20px;
}

.browse_history{
    font-size: 20px;
    float: left;
    color:#535353;
    margin-left: 20px;
}

.sf_product_content{
	margin-left: auto;
	margin-right: auto;
	width:970px;
}

.search_area{
    float:right;
    width: 320px;
    height: 30px;
    color: #88ABDA;
    /*border-bottom:1px darkgray solid;*/
    /*background: #88ABDA;*/
}
.search_option{
    float: left;
}
.search_box{
    float: left;
    margin-left: 5px;
}
.search_button{
    float:left;
    margin-left: 5px;
    width: 10px;
}
.sf_sep_line{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 10px;

}
.sf_filter{
    padding-top: 15px;
    height: 40px;
    width: 970px;
    color:#535353;
    /*background:#88ABDA;*/
    background: white;
    font-size: 14px;
    float:left;
}
.filter_head{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: auto;
    color:#535353;
    font-size: 18px;
}
.filter_field{
    color:#999;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 14px;
    cursor: pointer;
}
.filter_field.focus{
    color: #fff;
    background-color: #0089dc;
    border-radius: 3px;
}

.filter_field_selected{
    color: #fff;
    background-color: #0089dc;
    border-radius: 3px;
}

.sort_option{
    margin-top: 10px;
    height: 24px;
    width: 930px;
    color:#535353;
    float:left;
    cursor:pointer;
}
.sort_default{
    margin-left: 5px;
    font-size: 10px;
}
.sort_field_selected{
    color: #fff;
    background-color: #0089dc;
    border-radius: 3px;
}
.by_time{
    margin-left: 10px;
    font-size: 10px;
}
.by_sv{
    margin-left: 10px;
    font-size: 10px;
}
.by_review{
    margin-left: 10px;
    font-size: 10px;
}

.product_area{
    margin-top: 10px;
    width: 970px;
    height: 800px;
    color:white;
    /*background:darkgray;*/

}

.rest_information{
	margin-top: 40px;
	height: 300px;
	padding-bottom:20px;
    width: 970px;
    border-bottom: 2px solid #838679;    
}

.rest_img{	
	margin-left:0px;
	width:320px;
	height:280px;
	float:left;
}

.rest_details{
	margin-left:20px;
	width:630px;
	float:left;
	height:280px;	
}

.rest_detail{
	margin-left:0px;
	margin-top:10px;
	height:25px;
	float:left;
	width:100%;
	color:black;
}

.sf_product{
	float:left;
	margin-top: -1px;
	margin-right: -1px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    width: 320px;
    height: 280px;
    border: 1px solid #808080;
   /* background-color: #27ABE2;*/
    float: left;
    background-color: #ffffff;
}

.image_container {
   height: 200px;
   width: 267px;
   position: relative;
}
.tag {
   float: left;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
   background-color: blue;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
   opacity:0.3;
   filter:alpha(opacity=30);
}

.sf_product_preview{
    height: 200px;
    width: 267px;
    color:#535353;
    clear: both;
}
.sf_product_skip_line{
    clear: both;
}
.sf_product_title{
    font-size: 14px;
    margin-top: 5px;
    color:#535353;
    clear: both;
    float:left;
    width:175px;
}
.sf_product_stars{
    height: 15px;
    float: left;
    margin-top:7px;
}

.sf_product_sv{
    font-size: 11px;
    margin-right:5px;
    float:right;
}

.sf_product_price{
    clear: both;
    font-size: 11px;
    color:#535353;
}

.sf_food_cart{
	float:right;
	
	margin-top:0px;
	height:20px;
	color:black;
}

.food_information{
	margin-top:20px;
}
.minus_food, .add_food {
	float:left;
	width:50px;
	font-size: 20px;
	font-weight: bolder;
	text-align:center;
	cursor:pointer;
	
}

.minus_food:hover, .add_food:hover{
   background-color: grey;
}

.food_number{
	float:left;
	width:50px;
	border: 0px;
	text-align:center;
}


span.stars, span.stars span {
    display: block;
    background: url(../image/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
