.header{
    margin: 0px,0px,20px,0px;
    height: 90px;
    color: #27ABE2;
    background: #27ABE2;
}

.main_body{
    /*margin-left: 130px;*/
    margin-top: 10px;
    /*align-content: center;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 980px;
    color:#F3F3F5;
    background:#F3F3F5;
}

.bill_board{
    margin-left: 0px;
    margin-top: 0px;
    width: 980px;
    height: 85px;
    color:#F9ED13;
    background:#F9ED13;
}

.address_info{
    margin-left: 0px;
    margin-top: 20px;
    width: 900px;
    height: 20px;
    /*color: #88ABDA;*/
    /*background: #88ABDA;*/
}
.address_info_label{
    color:darkgray;
    font-size: 10px;
}
.address_info_address{
    font-size: 10px;
    color:#535353;
}
.address_info_chg{
    color:dodgerblue;
    font-size: 10px;
}
.section_header{
    margin-left: 0px;
    margin-top: 10px;
    width: 350px;
    height: 25px;
    margin-bottom: 5px;
    color: #88ABDA;
    /*background: #88ABDA;*/
    float:left;
}

.food_tab{
    font-size: 20px;
    float: left;
    color:#535353;
    margin-left: 0px;
    text-decoration: underline;
}

.rest_tab{
    font-size: 20px;
    float: left;
    color:#535353;
    margin-left: 20px;
}

.browse_history{
    font-size: 20px;
    float: left;
    color:#535353;
    margin-left: 20px;
}

.search_area{
    float:right;
    width: 320px;
    height: 30px;
    color: #88ABDA;
    /*background: #88ABDA;*/
}
.search_option{
    float: left;
}
.search_box{
    float: left;
    margin-left: 5px;
}
.search_button{
    float:left;
    margin-left: 5px;
    width: 10px;
}
.sf_sep_line{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 10px;

}
.sf_filter{
    clear: left;
    padding-top: 15px;
    height: 50px;
    width: 980px;
    color:#535353;
    /*background:#88ABDA;*/
    background: white;
    font-size: 14px;
}
.filter_head{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: auto;
    color:#535353;
    font-size: 18px;
}
.filter_field{
    color:#999;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 14px;
}

.filter_field_selected{
    color:whitesmoke;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    background: #27ABE2;
}

.sort_option{
    margin-top: 10px;
    height: 24px;
    width: 930px;
    color:#535353;
}
.sort_default{
    margin-left: 5px;
    font-size: 10px;
}
.by_time{
    margin-left: 10px;
    font-size: 10px;
}
.by_sv{
    margin-left: 10px;
    font-size: 10px;
}
.by_review{
    margin-left: 10px;
    font-size: 10px;
}

.product_area{
    margin-top: 10px;
    width: 980px;
    height: 800px;
    color:white;
    /*background:darkgray;*/

}

.sf_product{
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    width: 210px;
    height: 240px;
   /* background-color: #27ABE2;*/
    float: left;
    background-color: #ffffff;
}
.sf_product_preview{
    height: 156px;
    width: 208px;
    color:#535353;
    clear: both;
}
.sf_product_skip_line{
    clear: both;
}
.sf_product_title{
    font-size: 14px;
    margin-top: 10px;
    color:#535353;
    clear: both;
    float: none;
}
.sf_product_stars{
    width: 70px;
    height: 15px;
    float: left;
}

.sf_product_sv{
    float: right;
    font-size: 6px;
    color:red;
}

.sf_product_price{
    clear: both;
    font-size: 6px;
    color:#535353;
}

