body{
    margin:0px;
    padding:0px;
    background-color: #FAFAFA;
}
.header{
    width: 1600px;
    height: 55px;
    background-color: #f65053;
    color: white;
}

.header_logo{
    margin-left: 207px;
    padding-top: 15px;
    width: 120px;
    height: 55px;
    font-size: 23px;
    font-weight: bold;
    float: left;
}
.header_menuhome{
    width: 80px;
    height: 55px;
    margin-left: 50px;
    color: white;
    float: left;
    /*padding-top: 20px;*/
}
.header_menuorder{
    width: 120px;
    height: 55px;
    margin-left: 50px;
    color: white;
    float: left;
    /*padding-top: 20px;*/
}
.header_txt{
    padding-top: 20px;
    padding-left: 30%;
}

.header_selected{
    background-color: #d33b39;
}

.header_rightinfo{
    margin-right: 390px;
    width: 250px;
    float: right;
}

.header_lang{
    width: 90px;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
}

.header_login{
    float:right
}
.header_login_txt{
    padding-top: 20px;
}
.mainpanel{
    margin-top: 25px;

    margin-left: 200px;
    background-color: white;
    /* opacity: 0.5; */ 
    width: 1200px;
    min-height:600px;
}
.leftpanel{
    width: 250px;   
    border-right-color: #fafafa;
    border-right-style: solid;
    border-right-width: 4px;
    float: left;
    min-height: 600px;
    background-color: white;
}
.left_title{
    margin-top: 15px;

    margin-left: 23px;
    font-size: 20px;
    font-weight: bolder;
    border-bottom-color: #fafafa;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 12px;
    margin-bottom: 36px;
}

.left_item{
    margin-left: 28px;
    padding-left: 27px;
    font-weight: bolder;
    height: 25px;
    margin-top: 22px;
    cursor: pointer;
}

.left_item:hover{
    margin-left: 28px;

    padding-left: 27px;
    font-weight: bolder;
    color: #f65053;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #f65053;
    height: 25px;
    margin-top: 22px;
}

.rightpanel{
    float: left;

    width: 900px;
    margin-left: 21px;
    background-color: white;
}
.right_header{
    margin-top: 5px;

    width: 900px;
    height: 50px;
    padding-top:5px;
    /* background-color: blue; */
    /* min-height: 1400px; */
}

.right_basicinfo{
    height: 160px;

    
    width: 900px;
    background-color: #FAFAFA;
}
.iconarea{
/*background-color: gray;*/
width:575px;
}
.iconarea >#icon{
    margin-left:15px;
    width:110px;
    height:110px;
    float:left;
}
.iconarea > #showname{
    float:left;
    margin-left:8px;
    font-weight:bolder;
}
#showname > #bt_update{
    float:left;
    margin-left:3px;
    padding-top:5px;
    width:70px;
    height:25px;
    color:white;
    background-color: #f65053;
    font-size:14px;
    border-radius:3px;
}
.moneyarea{
width:150px;
margin-left:auto;
margin-right:auto;
}
.moneylabel{
    margin-top:15px;
    color: #f65053;
    margin-left:auto;
    margin-right:auto;
    font-size:42px;    
}
.moneyarea > .bt_update{
    clear:both;
    padding-top:5px;
    width:70px;
    height:25px;
    color:white;
    background-color: #f65053;
    font-size:14px;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto;
}
.couponarea{
margin-left:auto;
margin-right:auto;  
width:150px;
}
.couponarea > .bt_update{
    clear:both;
    padding-top:5px;
    width:80px;
    height:25px;
    color:white;
    background-color: #f65053;
    font-size:14px;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto;
}
.right_infodetail{
    margin-top: 20px;

    /* background-color: blue; */
    height: 200px;
    padding-top:2px;
    padding-left:50px;
    width: 400px;    
}

.infoitem{
    height:20px;
    font-weight:bolder;
}

.update{
    color:blue;
    cursor: pointer;
}

.ordertable{
    width: 900px;
    /* background-color:blue; */
}
.ordertable:first-child{
    background-color: #FAFAFA;
}
.orderheader{
    height:35px;
    background-color:#FAFAFA;
}
.col1{
    width:370px;
    text-align:left;
 }
.col2{
    text-align:left;
    width:130px;
}
.col3{
    text-align:left;
    width:150px;
}
.col4{
    text-align:left;
    width:130px;
}
.col5{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.orderthumb{
margin-left:15px;
margin-top:15px;
}
.foodpic{    
    float:left;
}
.orderdesc{
    float:left;
}
.foodname{
    margin-top:20px;
    margin-left:10px;
    text-align:left;
    font-weight:bolder;
}
.ordertime{
    text-align:left;
    margin-left:10px;
    margin-top:10px;
    font-weight:bold;
}

.btn{
    padding-top:5px;
    width:80px;
    height:25px;
    color:white;
    background-color: #f65053;
    font-size:14px;
    font-weight:bolder;
    border-radius:3px;
    vertical-align: middle;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}

.addressbox{
    margin-top:50px;
    margin-left:5px;
    border-style: solid;
    border-color: #f65053;
    border-width: 1px;
    font-weight:bolder;
    width: 270px;
    height: 138px;
    padding-left:10px;
    float:left;
}

.addressbox line{
    width: 150px;
    height: 25px;
    float:left;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.regarea{
    margin-left: 40px;
    margin-top: 192px;
    width: 450px;
    height: 650px;
    background-color: white;
    border-radius: 5px;
    float: left;
}

.regitem{
    width: 383px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #C2C2C2;
    background-color: white;
    border-radius: 5px;
}
.regtips{
    width: 30px;
    /*height: 50px;*/
    float:left;
}

.reg_input{
    margin-top: 2px;
    margin-right: 2px;
    width: 330px;
    height: 90%;
    border: 0;
    float:right;
    border-style: none;
    font-size: 16px;
    /*border-left-style: solid;
    border-left-color: #f1f1f1;*/
}
.reg_input:focus{
    margin-top: 2px;
    margin-right: 2px;
    width: 330px;
    height: 90%;
    border: 0;
    float:right;
    border-style: none;
    outline-width: 0;
    font-size: 16px;
    font-weight: bold;
    /*border-left-style: solid;
    border-left-color: #f1f1f1;*/
}
.reg_icon{
    margin-top: 13px;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    float: left;
}
.reg_btn{
    width: 383px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #f94e4e;
    border-radius: 5px;
    cursor: pointer;
}

.regtxt{
    width: 383px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.invisible{
    display: none;
}

.update-dialog-wrap {
    overflow: hidden;
    width: 560px;
    height: 260px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f65053;
}
