.pagefoot{
	margin-top: 20px;
	width: 800px;
	height: 40px;
	float:left;	
	text-algin: center;
}

.pagebutton{
	float:left;
	height: 40px;
	min-width: 40px;
	margin-left: 30px;
	margin-right: 20px;
	cursor: pointer;
}

.pagenumber{
	float:left;
	height: 40px;
	min-width: 40px;
	margin-left: 10px;
	cursor: pointer;
}

.selectedPage{
	color: blue;
	font-weight: bolder;
}

.morePage{
	float: left;
	margin-left: 0px;
}

.inputNumber{
	float:left;
}

#choosePage{
	width: 15px;
	margin-top: -5px;
}