.header{
	background-color: #f65053;
	float:left;
	color: white;
	font-weight: bolder;
	height: 40px;
}
.header_img, .footer_img{
    max-height: 30px;   
	vertical-align: middle;
}
.label{	   
	height:40px;
	line-height: 40px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#category_img,.img_frame,.label_frame,.navigation_label{
	float:left;
	height: 100%;
}

.label_frame {
	width: 22%;
}

#category_img{
	width: 11%;
}

.img_frame_right{
	float:right;
	height: 100%;
}
#category_img{
	margin-left: 10px;
}

#search_img{
	float:right;
	height: 100%;
	margin-right: 10px;
}

.footer{
	height:50px;
	float:left;
	color: #f65053;
	font-weight: bolder;
	position:fixed;
	bottom:0;
	left:0;
	background-color: rgba(255,255,255,1);
	width:100%;
}

.foot_logo_frame{
	background-color:#f65053;
	text-align: center;
	margin-left: 7%;
}

.foot_logo{	
	width: 80%;
}

.navigation_item{
	float:left;
	width: 22%;
}

.navigation_frame{
	width: 100%;
	text-align: center;
}
.navigation_label{
	float:left;
	height: 100%;
}

.navigation_icon{
	max-height:28px;
}