.header{
	background-color: #f65053;
	float:left;
	color: white;
	font-weight: bolder;
	height: 40px;
	top:0;
	left:0;
	position:fixed;
}

.search_bar{
	background-color: white;
	float:left;
	color: #aaaaaa;
	font-weight: bolder;
	height: 40px;
	top:0;
	left:0;
	position:fixed;
}

.back_button{
	margin-top: 10px;
	height: 20px;
	margin-left: 5px;
}

#serach-input{
	margin-left: 5%;
	margin-top: 5px;
	float:left;	
	height: 30px;
	padding-left: 25px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #dfdfdf;

    background-image: url(../../image/mobile/mobileHeaderSearch.png);
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 4px;
    background-size: 20px;
}

#search-button{
	float:left;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	color: #f65053;
	font-weight: bolder;
	font-size: 18px;
	cursor: pointer;
}

.search_title{
	color:#666666;
	font-size: 16px;
	width: 100%;
	float:left;
	margin-left: 5%;
	margin-top: 15px;
}

.search_keywords{
	color:#666666;
	font-size: 16px;
	width: 100%;
	float:left;
	margin-left: 5%;	
}

.keywords{
	background-color: white;
	width: 25%;
	height: 40px;
	line-height: 40px;
	color: black;
	font-size: 16px;	
	float:left;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px grey;
    margin-right: 5%;
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
}

.keywords:hover{
	background-color: #f65053;
	color: white;
	border: none;
}
.header_img, .footer_img{
    max-height: 30px;   
	vertical-align: middle;
}
.label{	   
	height:40px;
	line-height: 40px;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	text-overflow: ellipsis;/* IE/Safari */ 
	-ms-text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;/* Opera */ 
	-moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/ 
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#category_img,.img_frame,.label_frame,.navigation_label, .address_frame{
	float:left;
	height: 100%;
}

.address_frame{
	margin-left: 5px;
	width: 30%;	
}

.label_frame {
	width: 22%;
}

#category_img{
	width: 11%;
}

.img_frame_right{
	float:right;
	height: 100%;
}
#category_img{
	margin-left: 10px;
}

#search_img{
	float:right;
	height: 100%;
	margin-right: 10px;
}

.footer{
	height:50px;
	float:left;
	color: #f65053;
	font-weight: bolder;
	position:fixed;
	bottom:0;
	left:0;
	background-color: rgba(255,255,255,1);
	width:100%;
	box-shadow: 5px 5px 10px 5px rgba(173, 162, 162, 0.48);
}

.foot_logo_frame{
	background-color:#f65053;
	text-align: center;
	margin-left: 7%;
}

.foot_logo{	
	width: 80%;
}

.navigation_item{
	float:left;
	width: 22%;
}

.detail_navigation{
	height: 50px;
	float:left£»
}

.detail_navigation_item{
	float:left;
	height: 50px;
}

.detail_navigation_item,.navigation_item: hover{
	cursor: pointer;
}

.cart_number_frame{
	text-align: center;
	width: 100%;
	height: 18px;
	float:left;    
}
#cart_number{
	width:18px;
	height:18px;
	background: #f65053;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    color: white;
    float:left;
    margin-left: 50%;
	margin-right: 50%;	
	text-align: center;
	font-size: 13px;
	padding-top: 1px;
}

.cart_icon{
	margin-left: 50%;
	margin-right: 50%;
	margin-top: -6px;
}

.cart_navigation{
	margin-top: 5px;
	width: 18%;
	float:left;
}

.cart_navigation_label{
	line-height: 50px;
	float:left;
}
.cart_img_navigation{
	margin-left: -2px;
}

.navigation_frame{
	width: 100%;
	text-align: center;
}
.navigation_label{
	float:left;
	height: 100%;
}

.navigation_icon{
	max-height:28px;
}