html{
	width:100%;
}

body{
	width:100%;
	background-size: cover;
	background-image: url(../../image/mobile/mobileBackground.jpg);
	background-repeat: no-repeat;
	float:left;
}

input{
	background-color: transparent;
	border: none;
	float: left;
	color: white;
	font-weight: bolder;
}

button{
	margin-top: 3%;
	border: none;
	background-color: #f65053;
	color: white;
	font-weight: bolder;
	font-size: 17px;
	height: 40px;
}

.logo{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}
.loginInput{
	float:left;
	min-height: 45px;
	margin-left: 5%;
	color: white;
}

.inputLine{
	border-bottom: 1px solid #888888;
	padding-bottom: 5px;
	margin-bottom: 10px;
	float:left;
}

.inputIcon{
	float:left;
	margin-left: 9%;
}

.bottomNav{
	margin-top: 10%;
	text-decoration: none;
	color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}