
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>我的餐车</title>
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/sf_cart.css">
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/ui.js"></script>
</head>
<!--<body class="body" style="background: url(./img/cart_bkp.png) no-repeat top left;">-->
<body class="body">
<div class="header">
    <div class="header_logo">
        悠选
    </div>
    <div class="header_menuhome header_selected">
        <div class="header_txt">
            首页
        </div>
    </div>
    <div class="header_menuorder">
        <div class="header_txt">
            我的订单
        </div>
    </div>
    <div class="header_rightinfo">
        <div class="header_lang">
            <div class="header_txt">
                English
            </div>
        </div>
        <div class="header_login">
            <div class="header_login_txt">
                登录/注册
            </div>
        </div>
    </div>
</div>

<div class="container" style="<?php echo $nofood;?>">
    <div class="cart_panel">
        <div class="cart_header">
            <h2 style="float: left;">我的餐车</h2>
        </div>
        <hr width="96%" color="#DFDFDF" style="margin-left: auto;margin-right: auto"/>
        <table id="cart">
            <caption>订单详情</caption>
            <tbody>
                <tr class="carttableheader">
                    <th class="col1">
                        <div class="header_foodname" style="margin-left: 40px">
                            菜品
                        </div>
                    </th>
                    <th class="col2">单价</th>
                    <th class="col3">数量</th>
                    <th class="col4">小计</th>
                </tr>
                <?php foreach ($food_list as $food) { ?>
                <tr>
                    <td class="col1">
                        <div class="orderthumb">
                            <div class="checkbox">
                                <input type="checkbox"/>
                            </div>
                            <div class="foodpic">
                                <img width="65px" height="65px" src="<?php echo $food['image'];?>"/>
                            </div>
                            <div class="orderdesc">
                                <div class="foodname">
                                    <?php echo $food['food_name']; ?> (<?php echo $food['rest_name']; ?>)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col2"> $<?php echo $food['price'];?></td>
                    <td class="col3">                        
                        <div style="margin-left:50px;margin-top:10px">
                            <div class="btn_small" style="float: left">
                                -
                            </div>
                            <div class="foodnum"><?php echo $food['quantity'];?></div>
                            <div class="btn_small" style="float: left">
                                +
                            </div>
                        </div>
                    </td>
                    <td class="col4"> $<?php echo $food['total'];?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
        <div id="summary">
            <span class="summary_item">菜品总价:$<?php echo $beforetax;?></span>
            <span class="summary_item">配送费: $<?php echo $deliverfee;?> </span>
            <span class="summary_item">税(12%):$<?php echo $tax;?></span>
            <span class="summary_item" style="margin-left:190px">小费(10%): $<?php echo $tips;?></span>
            <span class="summary_item" style="float:right;margin-right:120px">总金额: <span id="total_cost">$ <?php echo $totalcost;?></span></span>
        </div>
    </div>
    <div id="deliverlabel">
    配送信息
    </div>
    <div class="addressarea">
        <div class="addressbox">
            <div style="margin-bottom: 20px;margin-top: 20px">
                <span>guoguo</span>
                <span style="float: right;margin-right: 20px;color: red;">删除</span>
                <span style="float: right;margin-right: 20px;color: red;">修改</span>
            </div>
            <br/>
            <line>保利罗兰香谷</line>
            <br/>
            <br/>
            <line>13911046718</line>
        </div>
        <div class="addressbox">
            <div style="margin-bottom: 20px;margin-top: 20px">
                <span>guoguo</span>
                <span style="float: right;margin-right: 20px;color: red;">删除</span>
                <span style="float: right;margin-right: 20px;color: red;">修改</span>
            </div>
            <br/>
            <line>保利罗兰香谷</line>
            <br/>
            <br/>
            <line>13911046718</line>
        </div>
        <div class="addressbox">
            <div style="margin-bottom: 20px;margin-top: 20px">
                <span>guoguo</span>
                <span style="float: right;margin-right: 20px;color: red;">删除</span>
                <span style="float: right;margin-right: 20px;color: red;">修改</span>
            </div>
            <br/>
            <line>保利罗兰香谷</line>
            <br/>
            <br/>
            <line>13911046718</line>
        </div>
    </div>
    <div id="payment">
        <div id="paymentlabel">
        付款方式
        </div>
        <table id="paymenttable">
            <td style="vertical-align: middle">
                <div class="paymentthumb">
                    <input type="checkbox" class="payment_checkbox"/>
                    <div class="paymentname">
                        Master Card
                    </div>
                    <div class="paymenticon">
                        <img src="catalog/view/theme/default/image/icons/mastercard.png"/>
                    </div>
                </div>
            </td>
            <td style="vertical-align: middle">
                <div class="paymentthumb">
                    <input type="checkbox" class="payment_checkbox"/>
                    <div class="paymentname">
                        Visa
                    </div>
                    <div class="paymenticon">
                        <img src="catalog/view/theme/default/image/icons/visa.png"/>
                    </div>
                </div>
            </td>
             <td style="vertical-align: middle">
                <div class="paymentthumb">
                    <input type="checkbox" class="payment_checkbox"/>
                    <div class="paymentname">
                        Visa
                    </div>
                    <div class="paymenticon">
                        <img src="catalog/view/theme/default/image/icons/visa.png"/>
                    </div>
                </div>
            </td>
        </table>
    </div>
    <div style="margin-top: 20px;margin-left: 60px">
        预计到达时间13:40
    </div>

    <a href="/index.php?route=sfcheckout/confirm">
        <div class="btn" style="float: right;margin-right: 20px">结算</div>
    </a>
</div>
<h2 style="<?php echo $hasfood;?>">您还没有点餐</h2>
<div class="footer">
    This is footer
</div>
</body>
</html>